<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script charset="UTF-8" type="text/javascript">
            window["adrum-start-time"] = new Date().getTime();
            (function(config){
                config.appKey = "AD-AAB-ABD-ZZK";
                config.adrumExtUrlHttp = "http://cdn.appdynamics.com";
                config.adrumExtUrlHttps = "https://cdn.appdynamics.com";
                config.beaconUrlHttp = "http://pdx-col.eum-appdynamics.com";
                config.beaconUrlHttps = "https://pdx-col.eum-appdynamics.com";
                config.resTiming = {"bufSize":200,"clearResTimingOnBeaconSend":true};
                config.maxUrlLength = 512;
            })(window["adrum-config"] || (window["adrum-config"] = {}));
        </script>
        <script src="//cdn.appdynamics.com/adrum/adrum-21.2.0.3385.js"></script>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Employees</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>



        <div th:switch="${employees}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No employees yet!</h2>
                    <div th:case="*">
                        <h2 class="my-5">Employees</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="employee : ${employees}">
                                    <td th:text="${employee.name}"></td>
                                    <td th:text="${employee.role}"></td>
                                    <td><a th:href="@{/edit/{id}(id=${employee.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/delete/{id}(id=${employee.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/signup" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
                </div>
            </div>
        </div>
    </body>
</html>